<html>
<head> 
  <title>Spatzennest am Fahlt</title>
<link type='text/css' rel='stylesheet' href={{ url_for('static', filename='style.css') }}>
</head>
<body>
<div class='container'>
  <img class='photo' src= {{ url_for('static', filename='nature1.jpg') }}>
  <img class='photo' src= {{ url_for('static', filename='nature2.jpg') }}>
  <img class='photo' src= {{ url_for('static', filename='nature3.jpg') }}>
</div>
  <nav>
  <ul>
    <li class=''>
      <a href=#><strong>Sites</strong></a>
    </li>
    <li class='link'>
      <a href= {{ url_for('info') }}> Info </a>
    </li>
    <li class='link'>
    <a href= {{ url_for('meals') }}> Gerichte </a>
    </li>
    <li class='link'>
    <a href= {{ url_for('impressum') }}> Impressum </a>
    </li>
    <ul>
  </nav>
</div>
</div>
<div class='content'>
<h1> {{ title }} </h1>
<hr>
{% block content %}
{% endblock content %}
</div>
</body>
<script src={{ url_for('static', filename='myjs.js') }}></script>
</html>
