{% extends 'layout.html' %}

{% block menu %}

<div class='categories'>
  <ul class='list'>
    <li>
      <a class='category' href='#day'>Tagesgerichte</a>
    </li>
    <li>
      <a class='category' href='#eday'>Gerichte</a>
    </li>
    <li>
      <a class='category' href='#drink'>Getraenke</a>
    </li>
  </ul>
</div>
 
{% endblock menu %}

{% block content %}
{% for meal in meals %}
<div class='meal'>
  <p class='mealt'> {{ meal[0] }}</p>
  <img class='mealp' src="{{ meal[1] }}">
</div>
{% endfor %}
{%endblock content %}
